services:
  xray:
    image: teddysun/xray
    container_name: xray
    ports:
      - "443:443"
    volumes:
      - ./config.json:/etc/xray/config.json
      - caddy_data:/caddy_data
    restart: unless-stopped
    depends_on:
      - caddy
    networks:
      - xray-net

  caddy:
    image: caddy:latest
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./stub:/srv/stub
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - xray-net

networks:
  xray-net:
    driver: bridge

volumes:
  caddy_data:
  caddy_config:

